<!DOCTYPE html>
<html>
<head>
  <title>My Landing Page</title>
  <link rel="stylesheet" type="text/css" href="styles.css">
</head>
<body>
  <section id="hero">
    <h1>Thunder Thoughts</h1>
    <p>Opinions & Ideas.</p>
  </section>

  <section id="about">
    <h2>About</h2>
    <p>A landing webpage that can be used to publish content.</p>
  </section>

  <section id="features">
    <h2>Pictures fetched using REST API</h2>
    <ul id="photos"></ul>
    <div id="pagination">
      <button id="prevButton" disabled>Prev</button>
      <button id="nextButton">Next</button>
    </div>
  </section>

  <section id="contact">
    <h2>Contact Us</h2>
    <p>Get in touch for any feedback.</p>
    <a href="mailto:info@example.com" class="cta-button">Contact Now</a>
  </section>

  <footer>
    <p>&copy; 2023 Sumukh Teja. All rights reserved.</p>
  </footer>

  <script src="script.js"></script>
</body>
</html>